<h1>Welcome <%= @user.name %>!</h1>
<p>Your height: <%= @user.height %></p>
<p>Your happiness level: <%= @user.happiness %></p>
<p>Your nausea level: <%= @user.nausea %></p>
<p>Your tickets: <%= @user.tickets %></p>
<p>Your mood: <%= @user.mood %></p>